@model ShopTARgv23.Models.Kindergarten.Kindergarten

<h1>Удаление детского сада</h1>

<div>
    <h4>Вы уверены, что хотите удалить эту запись?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Группа
        </dt>
        <dd class="col-sm-10">
            @Model.GroupName
        </dd>
        <dt class="col-sm-2">
            Количество детей
        </dt>
        <dd class="col-sm-10">
            @Model.ChildrenCount
        </dd>
        <dt class="col-sm-2">
            Название детского сада
        </dt>
        <dd class="col-sm-10">
            @Model.KindergartenName
        </dd>
        <dt class="col-sm-2">
            Учитель
        </dt>
        <dd class="col-sm-10">
            @Model.Teacher
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a asp-action="Index" class="btn btn-secondary">Отмена</a>
    </form>
</div>
